<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><strong><%= @list.name %></strong></h1>
    <%= link_to "<- Back", lists_path, class: "btn btn-ghost m-3" %>
  </div>
</div>
<div class="container d-flex flex-column col-10">
  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-trip">
        <img src="<%= "#{bookmark.movie.poster_url}" %>" />
        <div class="card-trip-infos">
          <div>
            <h2><%= bookmark.movie.title %></h2>
            <p><%= bookmark.movie.overview %></p>
          </div>
          <h2 class="card-trip-pricing"><p>Rating: <%= bookmark.movie.rating %></p></h2>
          <%= link_to bookmark_path(params = {bookmark_id: bookmark}), class: "card-trip-user avatar-bordered", data: {turbo_method: :delete, turbo_confirm: "Delete #{bookmark.movie.title}?"} do%>
            <i class="fa-regular fa-trash-can m-2" style="color: #8e0b0b;"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
    <div class="buttons">
      <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-flat text-light m-3 w-25" %>
    </div>
</div>
