<div class="container">
  <h1>Add a new movie to list</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie %>
      <%= f.association :list %>
      <%= f.input :comment %>
      <%= f.submit %>
  <% end %>
</div>
